  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <a href="/auth/logout">
      <button type="submit">Logout</button>
    </a>
  </nav>
