<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
    <h1><%= profile.name %></h1>
    <h1>Today's Workout</h1>
    <a href="/routines/new">Add Workout</a>

    
</main>

<%- include('../partials/footer') %>