<%- include('./partials/html-head') %>


<main>
  <h1>BE UNSTOPPABLE</h1>
  <h1>Welcome Back, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user) { %>
    <a href="/profile/<%= user.profile._id %>"><button>Home Page</button></a>
    <a href="/auth/logout">
      <button type="submit">Logout</button>
    </a>
  <% } else { %>
    <a href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
        <img id="siwg-image" alt="Sign in with Google" />
      </button>
    </a>
  <% } %>
</main>

<%- include('./partials/footer') %>
