html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: #242b44;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Oswald', sans-serif;
  margin: 0;
  color: #fdfdfd;
}

nav {
  background-color: #22273d;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

img{
  height: 50px;
}

nav > h2 {
  font-family: 'Alfa Slab One', cursive;
  margin-right: 10px;
  font-size: 20px;
}


main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-grow: 1;
  height: 94vh;
}


form {
  display: block;
  padding: 15px;
}


button {
  all: unset;
  color: #6236ff;
}

#log-out {
  color: #ff5970;
}
.delete-btn {
  display: flex;
  align-items: flex-end;
}

#workout-form {
  background-color: #242b44;
  color: #fdfdfd;
  width: 80vw;
}

#workout-form h2 {
  text-align: center;
  color: #fdfdfd;
  padding: 10px;
}

#adding-workout{
  text-align: center;
}

#exercise-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#session-form h2 {
  color: #fdfdfd;
}

#sets-name{
  color: #fdfdfd;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#session-records {
  width: 20vw;
  background-color: #2a324f;
}

#session-records h3 {
  color: #8f9bbc;
  padding: 5%;
  text-align: center;
}
#session-records li {
  list-style: none;
  font-size: 15px;
}

#session-records a {
  color: #fdfdfd;
  text-decoration: none;
  display: block;
  line-height: 20px;
}

input{
  height: 20px;
  border-radius: 5px;
  border: none;
}

