html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: #fffffe;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: #232323;
}

nav {
  background-color: #f45d48;
  font-size: 1.6rem;
  display: flex;
  justify-content: flex-end;
}

nav > a {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.profile-avatar {
  height: 25px;
  width: 25px;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
  padding: 10px;
}

form {
  display: flexbox;
}

li {
  display: inline-flex;
  flex-direction: row;
}

.delete-btn {
  background-color: aquamarine;
  display: flex;
  align-items: flex-end;
}

section > a {

}